[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "beautifulsoup4>=4.14.3",
    "crewai[google-genai]>=1.9.3",
    "dotenv>=0.9.9",
    "requests>=2.32.5",
]
